<template>
	<div
		:style="styles"
		class="footer fixed right-0 flex items-center justify-around"
	>
		<Letter color="#ffffff">Play Now</Letter>
		<Letter color="#ffffff">4, 021 in Queue</Letter>
		<AppIcon
			:icon-name="mode === 'searching' ? 'closeIconWhite' : 'rightArrow'"
		/>
	</div>
</template>

<script>
import Letter from './Letter'
import AppIcon from './Icon'

export default {
	components: { Letter, AppIcon },
	props: {
		bgColor: String,
		bottom: Number,
		width: String,
		mode: String
	},
	computed: {
		styles() {
			return {
				backgroundColor: this.bgColor || '#293894',
				bottom: this.bottom ? this.bottom + 'px' : 0,
				width: this.width || '100%'
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.footer {
	height: 89px;
}
</style>
