<template>
	<div class="header flex justify-between items-center">
		<div
			class="header__logo text-white h-full flex justify-center items-center"
		>
			<Letter color="#ffffff">GFINITY</Letter>
		</div>
		<div class="flex">
			<Letter size="14px" class="font-bold">FIFA 19</Letter>
			<AppIcon icon-name="navIcon" class="px-6" />
		</div>
	</div>
</template>

<script>
import Letter from './Letter'
import AppIcon from './Icon'

export default {
	components: { Letter, AppIcon }
}
</script>

<style lang="scss" scoped>
.header {
	height: 105px;

	&__logo {
		background: #1b1b1b;
		width: 105px;
	}
}
</style>
