<template>
	<img :src="icon" alt="" :width="width" :height="height" />
</template>

<script>
import navIcon from '../assets/icons/gf-nav-def.svg'
import rightArrow from '../assets/icons/gf-arrow-right-white.svg'
import leftArrow from '../assets/icons/gf-arrow-left.svg'
import leftArrowWhite from '../assets/icons/gf-arrow-left-white.svg'
import lockIcon from '../assets/icons/gf-lock.svg'
import caretDown from '../assets/icons/gf-caret-down.svg'
import caretRight from '../assets/icons/gf-caret-right.svg'
import closeIcon from '../assets/icons/gf-close.svg'
import closeIconWhite from '../assets/icons/gf-close-white.svg'
import gIcon from '../assets/icons/gf-pts-g.svg'
import rectangleIcon from '../assets/icons/rectangle-white.svg'

const allIcons = {
	navIcon,
	leftArrow,
	rightArrow,
	lockIcon,
	caretDown,
	caretRight,
	closeIcon,
	gIcon,
	rectangleIcon,
	leftArrowWhite,
	closeIconWhite
}

export default {
	props: {
		iconName: String,
		width: String,
		height: String
	},
	computed: {
		icon() {
			return allIcons[this.iconName]
		}
	}
}
</script>
