<template>
	<span :style="styleObject"><slot></slot></span>
</template>

<script>
export default {
	props: {
		size: String,
		color: String
	},
	computed: {
		styleObject() {
			return {
				color: this.color || '#1b1b1b',
				fontSize: this.size || '16px'
			}
		}
	}
}
</script>
