<template>
	<div
		class="lobby-properties flex justify-between items-center border-t py-4"
	>
		<div>
			<Letter color="14px">{{ label }}</Letter>
		</div>
		<div>
			<Letter color="14px">{{ labelValue }}</Letter>
		</div>
		<div><AppIcon icon-name="caretDown" width="8px" height="12px" /></div>
	</div>
</template>

<script>
import AppIcon from '~/components/Icon'
import Letter from '~/components/Letter'

export default {
	components: {
		Letter,
		AppIcon
	},
	props: {
		label: String,
		labelValue: String
	}
}
</script>

<style lang="scss" scoped>
.lobby-properties {
	border-color: #cfd1c7;
}
</style>
