<template>
	<div>
		<LobbyDetailsItem label="Type" label-value="Competitive" />
		<LobbyDetailsItem label="Game mode" label-value="Squad Battles" />
		<LobbyDetailsItem label="Lobby Status" label-value="Invite Only" />
	</div>
</template>

<script>
import LobbyDetailsItem from './LobbyDetailsItem.vue'

export default {
	components: {
		LobbyDetailsItem
	}
}
</script>

<style lang="scss" scoped>
.lobby-properties {
	border-color: #cfd1c7;
}
</style>
