<template>
	<div class="wrapper">
		<div
			class="wrapper__content"
			:style="{
				backgroundColor:
					mode === 'searching'
						? 'rgba(41, 56, 148, 0.9)'
						: 'rgba(27, 27, 27, 0.9)'
			}"
		>
			<div>
				<div class="arrow-nav flex items-center justify-center">
					<AppIcon icon-name="leftArrowWhite" />
				</div>
			</div>
			<div class="p-3 flex flex-col">
				<div class="lobby-title my-6">
					<Letter color="white" size="16px">Matchmaking Lobby</Letter>
				</div>
				<div class="heading mb-6">
					<Letter color="white" size="48px">{{ heading }}</Letter>
				</div>
				<div class="description">
					<Letter color="white" size="18px">{{ description }}</Letter>
				</div>
				<div class="flex items-center mt-10 mb-6">
					<Letter color="white" size="12px" class="mr-6"
						>Lobby</Letter
					>
					<div class="lobby-image">
						<img src="~/assets/images/gf-avatar-01.png" alt="" />
					</div>
				</div>
				<div class="flex items-center pb-16">
					<AppIcon icon-name="rectangleIcon" />
					<Letter color="white" size="12px" class="ml-10">{{
						info
					}}</Letter>
				</div>
			</div>
		</div>
		<Footer
			:bottom="26"
			width="78%"
			:mode="mode"
			:bg-color="mode === 'searching' ? '#1b1b1b' : ''"
		/>
	</div>
</template>

<script>
import Letter from './Letter.vue'
import AppIcon from '~/components/Icon'
import Footer from '~/components/Footer'

export default {
	components: {
		Footer,
		AppIcon,
		Letter
	},
	props: {
		heading: String,
		description: String,
		info: String,
		mode: String,
		amount: String
	}
}
</script>

<style lang="scss" scoped>
.wrapper {
	.arrow-nav {
		width: 105px;
		height: 105px;
		background: #1b1b1b;
	}

	&__content {
		width: 94%;
		margin-bottom: 70px;

		.heading {
			line-height: 44px;
		}
		.lobby-image {
			width: 56px;
			height: 56px;
			border-radius: 100%;
			overflow: hidden;
		}
	}
}
</style>
