<template>
	<div class="pr-2">
		<img src="~/assets/images/gf-avatar-01.png" alt="" />
		<Letter color="#6B6B65" size="12px">{{
			playerType == 'leader' ? 'Team Leader /' : 'Team Player /'
		}}</Letter>
		<div class="flex item-center">
			<Letter class="team__label" color="#1B1B1B" size="16px">{{
				leaderName || 'Invite Player'
			}}</Letter>
			<AppIcon
				v-if="!leaderName"
				icon-name="caretRight"
				class="ml-2 mt-1"
				width="8px"
				height="12px"
			/>
		</div>
	</div>
</template>

<script>
import AppIcon from '~/components/Icon'
import Letter from '~/components/Letter'

export default {
	components: {
		Letter,
		AppIcon
	},
	props: {
		playerType: String,
		leaderName: String
	}
}
</script>

<style lang="scss" scoped></style>
