<template>
	<div class="container" :style="containerStyles">
		<Header />
		<nuxt />
	</div>
</template>

<script>
import Header from '~/components/Header'

export default {
	components: {
		Header
	},
	computed: {
		containerStyles() {
			return {
				backgroundPosition:
					this.$route.path === '/' ? '176px -313px' : '41px 79px'
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.container {
	margin: 0 auto;
	min-height: 100vh;
	background-image: url('../assets/images/fifa19-ronaldo-fg-lg.png');
	// background-position: 41px 89px;
	// background-position: 176px -313px;
	background-repeat: no-repeat;
}
</style>
