<template>
	<div class="wrapper">
		<SearchVue
			heading="A match has been found for you!"
			description="We’ve found a compatible opponent for you to play Squad Battles with in FIFA 19"
			info="By tapping accept, you agree to play a match that may last for up to 30 minutes."
			mode="accept"
			amount="-00:17"
		/>
	</div>
</template>

<script>
import SearchVue from '~/components/Search.vue'

export default {
	components: {
		SearchVue
	}
}
</script>
