<template>
	<div class="wrapper">
		<div class="wrapper__content px-4">
			<div class="navigation flex py-4 border-b">
				<AppIcon icon-name="leftArrow" class="mr-6" />
				<Letter>Matchmaking Lobby</Letter>
			</div>
			<div class="heading flex mt-2">
				<Letter size="36px" class="mr-2">steveroesler’s lobby</Letter>
				<AppIcon icon-name="lockIcon" />
			</div>
			<div class="mt-1 mb-4">
				<Letter
					size="10px"
					color="#ffffff"
					class="bg-black rounded-r px-1"
					>FIFA 19</Letter
				>
			</div>
			<div class="flex">
				<TeamPlayer player-type="leader" leader-name="steveroesler" />
				<TeamPlayer />
			</div>
			<div class="flex mt-4">
				<Letter size="10px" class="border border-black p-1"
					>READY</Letter
				>
				<div class="flex ml-3">
					<AppIcon icon-name="gIcon" />
					<Letter size="11px" color="#E94235">74</Letter>
				</div>
			</div>
			<div class="mt-6">
				<LobbyDetails />
			</div>
		</div>
		<Footer />
	</div>
</template>

<script>
import AppIcon from '~/components/Icon'
import Letter from '~/components/Letter'
import Footer from '~/components/Footer'
import TeamPlayer from '~/components/TeamPlayer'
import LobbyDetails from '~/components/LobbyDetails.vue'

export default {
	components: {
		Footer,
		Letter,
		AppIcon,
		TeamPlayer,
		LobbyDetails
	}
}
</script>

<style lang="scss" scoped>
.wrapper {
	.navigation {
		border-color: #cfd1c7;
	}

	&__content {
		margin-bottom: 89px;
	}
}
</style>
