<template>
	<div class="wrapper">
		<SearchVue
			heading="Searching for compatible opponents"
			description="We’re searching our database of players to pair you with an
					opponent of similar skill"
			info="4, 021 in Queue"
			mode="searching"
			amount="01:42"
		/>
	</div>
</template>

<script>
import SearchVue from '~/components/Search.vue'

export default {
	components: {
		SearchVue
	}
}
</script>
